*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}
.boton{
    background-color: #94361c;
    position: relative;

}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
::selection{
    color: #37d82100;
    background: #fff;
}
nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}
nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #fff;
    color: rgba(59, 8, 8, 0);
}

.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(228, 6, 6, 0.4);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: rgb(94, 23, 91);
    font-size: 55px;
    font-weight: 600;
}
.center .sub_title{
    color: orchid;
    font-size: 30px;
    font-weight: 600;
}
.center .btns{
    margin-top: 20px;
}
.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
}
.btns button:first-child:hover{
    background: white;
    color: rgb(136, 116, 116);
}
.center .btns button:last-child{
    background: white;
    color: rgb(0, 76, 95);
}
.hero{
    background-image: linear-gradient(10deg, rgba(3, 0, 3, 0.925) 0%, rgba(128, 127, 201, 0) 100%), url("/imagenes/paisaje.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 150%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 1px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #4231d4 0%, #94361c 99%, #199651 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: rgb(228, 141, 236);
}

/* Info */

.info{
    background: #1f0f77;
    color: #3ecc12;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 50px 0 20px 0;
    color: #4431f3e8;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 19px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(59, 19, 124, 0.5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 40;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: #57a1f5;
    color: #281db9;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(44, 137, 245);
    background: #fff;
}

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
      .container {
        position: relative;
        width: 100%;
        height: 100%;
      }
      
      .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      
      .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .container {
        position: relative;
      }
      
      .thumbnail {
        cursor: pointer;
        width: 300px;
        height: 200px;
      }
      
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
      }
      
      .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
      }
}